xmlschema-core/src/test/resources/include-union-without-ns/datatypes.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xsd:simpleType name="uid">
      <xsd:union memberTypes="oid uuid"/>
   </xsd:simpleType>
   <xsd:simpleType name="oid">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="uuid">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>
</xsd:schema>
